/*https://colorhunt.co/palette/213441*/

body {
  margin: 0px;
}

.top-section {
  background-color: red;
  position: absolute ;
  left: 400px;
  
  width: 200px;
  height:200px;  
}

.middle-section {
  background-color: green;
  position: relative;
  width: 200px;
  height: 200px;
}
.bottom-section {
  background-color: yellow;
  position: relative;
  width: 200px;
  height:200px;
}